<!-- STEPS FOR LIVESTOCK OPERATIONS -->
<% if operation.steps.size > 0 %>
<table class='table table-sm table-bordered mb-0'>
  <thead class="thead-light">
      <tr>
        <th>Component</th>
        <th>Energy Use</th>
        <th>Data Source</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% operation.steps.each do |step| %>
        <tr>
          <td><%= step.name %></td>
          <td><small><%= "#{step.energy_units_used} #{step.energy_unit.unit_short} #{step.energy_unit.name.downcase}" %></small></td>
          <td><small><%= source_content(step)%></small></td>
          <td><small><%= step.notes %></small></td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
