// Place all the styles related to the counties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chartdiv {
  height: 450px;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.popover {
  max-width: 350px;
}
