<div class="alert alert-warning alert-dismissible fade show" id='under_development' role="alert">
  The Ag Energy Report tool is an open-source web-application that looks at big picture energy use across a county or region of Iowa.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
