<div class="alert alert-warning alert-dismissible fade show" id='under_development' role="alert">
  The Ag Energy Report app is under active development in 2018. <a href="https://github.com/webdevbc/agenergyreport" title='Ag Energy Report on GitHub'>Follow us on Github</a> for updates on the model's features and inputs.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
