<div class="dashhead mt-4">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Documentation</h6>
    <h2 class="dashhead-title">Publications, Links, and Additional Resources</h2>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="list-group mb-5 mt-4">
      <h6 class="list-group-header">
        <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/main/national/energy/" title="NRCS Farm Energy Program">Natural Resource Conservation Service Energy Program Resources</a>
      </h6>
      <a class="list-group-item list-group-item-action justify-content-between" href="https://www.nrcs.usda.gov/wps/portal/nrcs/main/national/energy/">
        <span>NRCS Energy Tools and Information on Renewable Energy and Energy Conservation on Farms
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="https://energytools.sc.egov.usda.gov/">
        <span>"Energy Estimators (Animal Housing, Irrigation, Nitrogen, and Tillage)
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/programs/financial/eqip/?cid=stelprdb1046252">
        <span>EQIP On-Farm Energy Initiative Overview
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="https://www.nrcs.usda.gov/wps/portal/nrcs/ia/programs/financial/eqip/nrcs142p2_008078/">
        <span>EQIP On-Farm Energy Initiative Application
        </span>
      </a>
    </div>
    <!-- close list-group -->


    <div class="list-group mb-5 mt-4">
      <h6 class="list-group-header">
        <a href="http://farmenergy.exnet.iastate.edu" title="Farm Energy Initiative - ISU Farm Energy Conservation &amp; Efficiency, Elings Hall, Ames, IA 50011.">Iowa State University Extension: Farm Energy Initiative</a>
      </h6>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1196&amp;context=extension_ag_pubs">
        <span>"Farm Energy: Energy consumption for row crop production" (2012).
          <small>Hanna, H. Mark; Sawyer, John E.; and Petersen, Dana.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1453&amp;context=abe_eng_conf">
        <span>"Energy Management at University Farms" (2015).
          <small>Hanna, H. Mark; Harmon, Jay D.; and Schweitzer, Dana D.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="https://works.bepress.com/mark_hanna/146/download/">
        <span>"Grain Drying Energy Use" (2016).
          <small>Hanna, H. Mark and Schweitzer, Dana.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://farmenergy.exnet.iastate.edu/wp-content/uploads/downloads/2016/07/PM3063E.pdf">
        <span>"Farm Energy: Case Studies - Benchmarking Energy Usage for Swine Producers" (2016).
          <small>Harmon, Jay D.; Schweitzer, Dana.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1201&amp;context=extension_ag_pubs">
        <span>"Farm Energy: Energy conservation in corn nitrogen fertilization" (2010).
          <small>Sawyer, John E.; Hanna, H. Mark; and Petersen, Dana.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1032&amp;context=extension_ag_pubs">
        <span>"Farm Energy: How much energy is being used on your farm?" (2009).
          <small>Hanna, H. Mark; Harmon, Jay D.; and Flammang, Jane.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1030&amp;context=extension_ag_pubs">
        <span>"Farm Energy: Limiting field operations" (2010).
          <small>Hanna, H. Mark; Harmon, Jay D.; and Flammang, Jane.</small>
        </span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=1034&amp;context=extension_ag_pubs">
        <span>"Farm Energy: Tracking the energy use on your farm" (2009).
          <small>Hanna, H. Mark; Harmon, Jay D.; and Flammang, Jane.</small>
        </span>
      </a>
    </div>
    <!-- close list-group -->

    <div class="list-group mb-5">
      <h6 class="list-group-header">
        <a href="http://www.extension.iastate.edu/agdm/" title="Ag Decision Maker: An Agricultural Economics and Business Web Site">Iowa State University Extension: Ag Decision Maker: An Agricultural Economics and Business Web Site</a>
      </h6>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://www.extension.iastate.edu/agdm/crops/html/a1-20.html" title="Estimated Costs of Crop Production in Iowa | Ag Decision Maker">
        <span>Estimated Costs of Crop Production in Iowa</span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://www.extension.iastate.edu/agdm/livestock/html/b1-21.html" title="Livestock Enterprise Budgets for Iowa | Ag Decision Maker">
        <span>Livestock Enterprise Budgets for Iowa</span>
      </a>
      <a class="list-group-item list-group-item-action justify-content-between" href="http://www.extension.iastate.edu/agdm/articles/others/TakApr08.html">
        <span>"Agriculture's Impact on Greenhouse Gas Emissions" (2008).
          <small>Takle, Eugene and Hofstrand, Don.</small>
        </span>
      </a>

    </div>
    <!-- close list-group -->

    <div class="list-group mb-5">
      <h6 class="list-group-header">
        <a href="https://www.usda.gov/oce/climate_change/estimation.htm" title="Quantifying Greenhouse Gas Fluxes in Agriculture and Forestry: Methods for Entity-Scale Inventory">
          <span>USDA Greenhouse Gas Estimation Methods (2014).
            <s></s>
          </span>
        </a>
      </h6>
    </div>

    <div class="list-group mb-5">
      <h6 class="list-group-header">
        <a href="http://ctic.purdue.edu/CRM/" title="Conservation Technology Information Center: National Crop Residue Management Survey">
          <span>"Conservation Technology Information Center: National Crop Residue Management Survey" (2004).<s></s>
          </span>
        </a>
      </h6>
    </div>
    <div class="list-group mb-5">
      <h6 class="list-group-header">
        <a href="https://www.ers.usda.gov/topics/farm-practices-management/crop-livestock-practices/soil-tillage-and-crop-rotation/" title="USDA Economic Research Service: Soil Tillage and Crop Rotation">
          <span>"USDA Economic Research Service: Soil Tillage and Crop Rotation" (2015).<s></s>
          </span>
        </a>
      </h6>
    </div>
  </div>
</div>
